* {
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body,
head {
    height: 100%;
    width: 100%;
}

#nav {
    height: 145px;
    width: 100%;
    background-color: rgb(199, 199, 211);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;


}

#nav img {
    width: 100px;
    height: 80px;
    color: beige;

}

#nav h4 {
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(107, 134, 160);
    font-size: 13px;


}

#cursor {
    height: 20px;
    width: 20px;
    background-color: rgb(68, 160, 196);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #3cb5de;
    border-radius: 50%;
    position: fixed;
    filter: blur(90px);
    z-index: 9;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    color: aqua;
}

#main {
    
    background-color: rgba(0, 0, 0, 0.37);
    position: relative;
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 10;




}

#page1 h1 {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

#page1 h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;

}

#page1 p {
    font-size: 30px;
    font-weight: 900;
    width: 40%;
    color: white;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 10;
    position: relative;
    align-items: center;
    justify-content: center;

}

#scroller {

    white-space: nowrap;

    overflow-y: hidden;
    overflow-x: auto;

    display: flex;

    align-items: center;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller1 {

    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroller h4 {
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    color: transparent;
    font-family: gilory;
    margin-right: 10px;
    -webkit-text-stroke: 2px rgba(0, 42, 255, 0.5);

}

#scroller h4:hover {
    color: rgb(40, 157, 118);
    
}

@keyframes scroll {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

#aboutus {
    height: 40%;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
  
}

#aboutus img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 10px;


}


#about-us-in {
    width: 50%;
    align-items: center;
    justify-content: center;
padding-left: 30px;
}

#about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
    color: white;
}

#about-us-in p {
    font-size: 20px;
    color: white;
}
#card-container{
    background-color: #010407;
    height:100vh;
    display:flex;
    align-items:center ;
    justify-content: center;
    gap:70px;
    position: relative;
}
.card{
    height:250px;
    width:250px;
    background-color: blue;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(car2.webp);
}
#card2{
    background-image: url(car3.webp);
}
#card3{
    background-image: url(car.jpg);
}
.overlay{
    height:250px;
    width:250px;
    background-color: grey;
    padding-top: 160px;
    padding: 30px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #010407;
text-transform: capitalize;
margin-bottom: 20px;
font-size: 18px;
font-weight: 800;
white-space: nowrap;
}
.overlay p{
    color:#010407;
   margin-right: 20px;
    font-size: 18px;
}
.overlay:hover{
    opacity:1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height:30vh;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(203, 214, 210);
}
#green-div h4{
    width: 50%;
    font-size: 23px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
#green-div img{
    height:100%;
    object-fit: cover;
    

}
#rectangle{
    width:100%;
    height:70vh;
    display: flex;
   
    background-color: rgb(11, 11, 11);
}
#rectangle img {
    height:80%;
    width:50%;
    object-fit: cover;
    margin-top: 30px;
    
}
#rectangle h4{
    color: beige;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    margin: 90px;
}

#page3{
    height: 50vh;
    width: 100%;
    background-color: rgb(247, 247, 249);
   
    justify-content: center;
    color: rgb(63, 95, 163);
    }

#page3 h3{
text-transform: uppercase;
text-align: center;
font-size: 40px;
justify-content: flex-start;

}
#page3 p{
text-transform: capitalize;
text-align: center;
font-size: 25px;
flex-direction: column;
display: flex;
color: rgb(5, 6, 6);
margin-top: 50px;
font-weight: 300;
}